.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
	background: #e0e3e3;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

.or {
	background: white;
	padding: 0 10px;
	position: relative;
}

.login-page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 30rem;
}

.loggedin {
	display: flex;
	align-items: center;
}

.loggedin.right {
	margin-right: 1rem;
}

.loggedin-avatar {
	width: 40px;
	height: 40px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 0 0.5rem;
}

/* .or:before,
.or:after {
	content: '';
	display: block;
	position: absolute;
	width: 45%;
	border-bottom: 1px solid #ddd;
	top: 12px;
}

.or:before {
	left: 0;
}

.or:after {
	right: 0; 
} */

.main-navigation {
	margin-bottom: 2rem;
}

.page-content {
	padding: 0 2rem;
	max-width: 50rem;
	margin: 0 auto 4rem;
}

.card {
	padding: 1rem 2rem;
}

.btn {
	display: block;
	margin: 1rem auto;
}

/* MaterializeCSS sets this to none by default */
select {
	display: block;
	margin-bottom: 1rem;
}