body {
	background: #cfd8dc;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

@media screen and (min-width: 993px) {
	.hide-on-large-only {
		display: none!important;
	}
}

nav i.material-icons.home-link {
	line-height: 48px!important;
	height: 48px!important;
}

.or {
	background: white;
	padding: 0 10px;
	position: relative;
}

h4.or {
	margin-top: 3px;
}

.login-page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 30rem;
}

.login-dropdown .avatar {
	float: left;
	margin-right: 1rem;
	width: 30px;
	height: 30px;
}

.login-dropdown .user {
	line-height: 30px;
}

.login-dropdown.dropdown-button {
	line-height: 30px;
	border: 1px solid #e0e3e3;
	padding: 5px 10px;
	position: relative;
}

.login-dropdown.dropdown-button:after {
	content: '\25bc';
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	line-height: 30px;
}

.sidenav-trigger:hover,
.logout-button:hover,
.tab:hover {
	cursor: pointer;
}

.loggedin {
	display: flex;
	align-items: center;
}

.loggedin.right {
	margin-right: 1rem;
}

.loggedin-avatar {
	width: 40px;
	height: 40px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 0 0.5rem;
}

.main-navigation {
	margin-bottom: 2rem;
}

.page-content {
	padding: 0 2rem;
	max-width: 50rem;
	margin: 0 auto 4rem;
}

.card {
	padding: 1rem 2rem;
}

.tabs {
	flex-wrap: wrap;
}

.tabs.card {
	padding: 0;
}

a.tab {
	color: black;
}

.tabs .tab {
	text-transform: capitalize;
	padding: 0 2rem;
}

@media screen and (max-width: 30rem) {
	.tabs .tab {
		padding: 0 1rem;
	}
}

.tab.active {
	color: #9c27b0;
	border-bottom: 3px solid #9c27b0;
}

.btn {
	display: block;
	margin: 1rem auto;
}

/* MaterializeCSS sets this to none by default */
select {
	display: block;
	margin-bottom: 1rem;
}

.user .question-meta {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0;
	color: white;
}

.question-meta-title {
	margin-bottom: 0.25rem;
	font-style: italic;
	opacity: 0.7;
}

.user .question-meta h2 {
	margin-top: 0;
}

.score p {
	/* text-transform: uppercase; */
	font-weight: bold;
}

input.option-input {
	box-sizing: border-box;
	height: 64px;
	line-height: 64px;
	padding: 0 1rem;
	font-size: 1.2rem;
}